  
        <!-- site-footer -->
        <footer id="colophon" class="site-footer" role="contentinfo">
			
            <!-- layout-medium -->
            <div class="layout-medium">
            	
                <!-- footer-social -->
                <div class="footer-social">
                	
                    <ul class="social">
                        <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a class="instagram" href="#"> <i class="fab fa-twitter"></i> </a></li>
                        <li><a class="fivehundredpx" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                     
                    </ul>
                    
                </div>
                <!-- footer-social -->
            	
                
                <!-- .site-info -->
                <div class="site-info">
                    
                    <p>Copyright &copy; 2019 Negus Multimedia</p>
                    
                    <p>Powered by <b style="font-size: 16px;">Codyst</b> </p>
                </div>
                <!-- .site-info -->

            
            </div>
            <!-- layout-medium -->
                
            
		</footer>
        <!-- site-footer -->

        
	</div>
    <!-- page -->
    
    
    
    <!-- SCRIPTS -->
    <script src="/js/fastclick.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.uniform/jquery.uniform.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/jquery.fluidbox/jquery.fluidbox.min.js"></script>
    <script src="/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/socialstream.jquery.js"></script>
    <script src="/js/jquery.collagePlus/jquery.collagePlus.min.js"></script>
	<script src="/js/photo-swipe/photoswipe.min.js"></script>
    <script src="/js/photo-swipe/photoswipe-ui-default.min.js"></script>
    <script src="/js/photo-swipe/photoswipe-run.js"></script>
    <script src="/js/jquery.gridrotator.js"></script>
    <script src="/js/slippry/slippry.min.js"></script>
    <script src="/js/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/view.min.js?auto"></script>
    <script src="/js/main.js"></script>
    

</body>
<!-- InstanceEnd --></html>
