<!-- views/partials/head.ejs -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Photographer - Responsive HTML5 Template">
    <meta name="keywords" content="blog, gallery, photography, html5, portfolio">
    <meta name="author" content="Pixelwars">
    
    <title>Negus Multimedia</title>
	
    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" href="/images/site/logo.png">
    <link rel="apple-touch-icon" href="/images/ico/apple-touch-icon.png"/>
    <!-- FONTS -->
	<link rel="stylesheet" type="text/css" href="/css/fonts/montserrat/montserrat.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts/fontello/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="/js/jquery.uniform/uniform.default.css">
    <link rel="stylesheet" type="text/css" href="/js/jquery.fluidbox/fluidbox.css">
    <link rel="stylesheet" type="text/css" href="/js/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/js/photo-swipe/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="/js/photo-swipe/default-skin/default-skin.css">
    <link rel="stylesheet" type="text/css" href="/js/jquery.magnific-popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/js/slippry/slippry.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/768.css">
    <link rel="stylesheet" type="text/css" href="/css/992.css">
    
    <!-- INITIAL SCRIPTS -->
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/modernizr.min.js"></script>
    
    
    <!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
    
    
    
    
</head>

<body>

    <!-- page -->
    <div id="page" class="hfeed site">
        