   <!-- header -->
   <header id="masthead" class="site-header" role="banner">
                
                
    <!-- site-logo -->
    <div class="site-logo">
        
        
        <!-- logo : image -->
        <h1 class="site-title">
            <a href="index.html" rel="home">
                <img src="/images/site/logo.png" alt="logo">
            </a>
        </h1>
        <!-- logo : image -->
        
        
        <!-- logo : text -->
        <!--<h1 class="site-title">
            <a href="../index.html" rel="home">
                Photographer
            </a>
        </h1>
        <p class="site-description">a photography theme.</p> -->
        <!-- logo : text -->
        
        
    </div>
    <!-- site-logo -->
             
    
     
    <!-- site-navigation -->
    <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
        
        <a class="menu-toggle"><span class="lines"></span></a>
        
        <!-- nav-menu -->
        <div class="nav-menu">
            <ul>
                <li><a href="/">HOME</a>
                  
                </li>
             
                <li><a >Our Work</a>
                    <!-- level 2 -->
                    <ul>
                        <li><a href="/graphics">Graphic Design</a></li>
                        <li><a href="/webdesign">Web Design</a></li>
                        <li><a href="/photography">Photography</a></li>
                        <li><a href="/videography">Videography</a></li>
                        
                    </ul>
                    <!-- level 2 -->
                </li>
                <!-- level 2
                  <li><a href="/albums">Albums</a>
                 
                </li>
                <li><a href="/blog">Blog</a></li>
                -->
              

                <li><a href="/aboutus">ABOUT US</a>
                   
                </li>
                <li><a href="/contactus">CONTACT</a></li>
            </ul>
        </div>
        <!-- nav-menu -->
      
    </nav>
    <!-- site-navigation -->

    
</header>
<!-- header -->
