
   <!DOCTYPE html>
   <html lang="en">
   <head>
       <% include ../partials/head %>
   </head>
   <body >
   
   <header>
       <% include ../partials/header %>
   </header>
   
   <main>
      
      
      <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	     
                 
                 
                        
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                	
                
                	
                    
                    
                    <!-- InstanceBeginEditable name="FeaturedContent" -->
					
                    
					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-medium -->
                	<div class="layout-medium">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutMediumContent" -->
                	
                    
                    
                        <!-- .hentry -->
                        <article class="hentry">
                        
                        	
                            <!-- .entry-header -->   
                            <header class="entry-header">
                                <h1 class="entry-title">ABOUT US</h1>
                            </header>
                            <!-- .entry-header -->   
                            
                            
                            <!-- .entry-content -->
                            <div class="entry-content">
                                
                                <div class="full-width-image">
                                	<img src="/images/site/me-resized.jpg" alt="profile photo">
                                </div>
                                
                                <h2 class="section-title center">WHO ARE WE?</h2>
                                <div class="row">
                                    <div class="col-lg-3">
                                            <span>- We are corporate.<br /> </span>
                                            <span>- We are creative.</span>
                                          
                                    </div>
                                    <div class="col-lg-3">
                                          
                                            <span>- We are proffesional.<br /></span>
                                            <span>- We are people persons.</span>
                                    </div>
                                    <div class="col-lg-3">
                                            <span>- We are influential.<br /></span>
                                            <span>- We are modern.</span>
                                    </div>
                                    <div class="col-lg-3">
                                         
                                            <span>- We are artistic.<br /></span>
                                            <span>- We are digital.</span>
                                    </div>
                                </div>
                               
                              
                               <br/>
                                <p style="font-size: 16px;">
                                    Negus Multimedia is a team of young, talented individuals who have a passion for creativity and simply love to do what we do.  We are open minded and aim to think outside the box to create the perfect solution for you. Let us help you tell your story and make your audience captivated by what you showcase and with our expertise in photography , videography, graphic design and web design we can guarantee you that we will help you reach your goal and leave a lasting impression in your viewer's mind. What are you waiting for? <a href="/contactus">Contact us</a>  now and let's get started!
                                </p>
                            
                                <h2 class="section-title center">Our Partners</h2>
                                
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img src="/images/site/paramount.jpg" >
                                    </div>
                                    <div class="col-lg-4">
                                        <img src="/images/site/jusincase.jpg" style="border-radius: 50%; width: 300px; height: 200px;" >
                                    </div>
                                    <div class="col-lg-4">
                                        <img src="/images/site/codyst.jpg" style="border-radius: 50%; " >
                                    </div>
                                </div>
                                	
                                
                                
                            </div>
                            <!-- .entry-content -->
                            
                            
                        </article>
                        <!-- .hentry -->
                
                    
                    
                
                		<!-- InstanceEndEditable -->
                    	
                        
                    	
                    </div>
                    <!-- layout-medium -->
                    
                    
                    
                    
                
                	
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary --> 
            
            
            
               
        
        
        
        
        </div>
   
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>