
   <!DOCTYPE html>
   <html lang="en">
   <head>
       <% include ../partials/head %>
   </head>
   <body >
   
   <header>
       <% include ../partials/header %>
   </header>
   
   <main>
      
      
      <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	     
                 
                 
                        
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                	
                
                	
                    
                    
                    <!-- InstanceBeginEditable name="FeaturedContent" -->
					
                    
					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-medium -->
                	<div class="layout-medium">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutMediumContent" -->
                	
                    
                    
                        <!-- .hentry -->
                        <article class="hentry">
                        
                        	
                            <!-- .entry-header -->   
                            <header class="entry-header">
                                <h1 class="entry-title">ABOUT US</h1>
                            </header>
                            <!-- .entry-header -->   
                            
                            
                            <!-- .entry-content -->
                            <div class="entry-content">
                                
                                <div class="full-width-image">
                                	<img src="images/site/about-me-big.jpg" alt="profile photo">
                                </div>
                                
                                <h2 class="section-title center">WHO ARE WE?</h2>
                                
                                <p>Albert Einstein was a theoretical physicist who developed the general theory of relativity, effecting a revolution in physics.For this achievement, Einstein is often regarded as the father of modern physics and the most influential physicist of the 20th century. While best known for his mass–energy equivalence formula E = mc2 (which has been dubbed "the world's most famous equation"), he received the 1921 Nobel Prize in Physics "for his services to theoretical physics, and especially for his discovery of the law of the photoelectric effect". The latter was pivotal in establishing quantum theory within physics.</p>
                                
                                
                                
                            
                                <h2 class="section-title center">Our Partners</h2>
                                
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img src="/images/site/paramount.jpg" >
                                    </div>
                                    <div class="col-lg-4">
                                        <img src="/images/site/jusincase.jpg" style="border-radius: 50%; width: 300px; height: 200px;" >
                                    </div>
                                    <div class="col-lg-4">
                                        <img src="/images/site/codyst.jpg" style="border-radius: 50%; " >
                                    </div>
                                </div>
                                	
                                
                                
                            </div>
                            <!-- .entry-content -->
                            
                            
                        </article>
                        <!-- .hentry -->
                
                    
                    
                
                		<!-- InstanceEndEditable -->
                    	
                        
                    	
                    </div>
                    <!-- layout-medium -->
                    
                    
                    
                    
                
                	
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary --> 
            
            
            
               
        
        
        
        
        </div>
   
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>