    
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>


<main>
          
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	     
                 
                 
                        
                <!-- primary -->
                <div id="primary" class="content-area">
                    
                    <!-- site-content -->
                    <div id="content" class="site-content" role="main">
                    
                    
                        
                    
                        
                        
                        
                        <!-- InstanceBeginEditable name="FeaturedContent" -->
                        
                        
                        <!-- InstanceEndEditable -->
                        
                        
                        
                        <!-- layout-medium -->
                        <div class="layout-medium">
                        
                        
                        
                            <!-- InstanceBeginEditable name="LayoutMediumContent" -->
                            
                            
                            
                            
                            <!-- .gallery-single -->
                            <div class="gallery-single">
                            
                            
                                <!-- .hentry -->
                                <article class="hentry">
                                    
                                     <!-- .entry-header -->
                                    <header class="entry-header">                                   
                                        <h1 class="entry-title">VIDEOGRAPHY</h1>
                                    </header>
                                    <!-- .entry-header -->
                                
                                
                                    <!-- .entry-content -->
                                    <div class="entry-content">
                                        
                                        <p>Read is a responsive WordPress theme focused on readability with a minimalist design. You will enjoy blogging using our Read theme. It is clean, minimalist, content-focused and responsive. It looks great on every device. Your readers will enjoy reading your blog.</p>
                                        
                                      
                                        <!-- row -->
                                        <div class="row">
                                        
                                        
                                            
                                            <!-- column 6/12 -->
                                            <div class="col-sm-6">
                                                <h2 class="section-title">Client</h2>
                                                <p>Warner Bros</p>
                                            </div>
                                            <!-- column 6/12 -->
                                            <!-- column 6/12 -->
                                            <div class="col-sm-6">
                                                <h2 class="section-title">Date</h2>
                                                <p><a class="button" target="_blank" href="http://themes.pixelwars.org/?theme=read-wp">Launch Project</a></p>
                                            </div>
                                            <!-- column 6/12 -->
                                        </div>
                                        <!-- row -->	
                                        
                                        
                                        
                                        
                                        <iframe src="http://player.vimeo.com/video/92040599?title=0&amp;byline=0&amp;portrait=0&amp;color=000000" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        
                                          <!-- row -->
                                          <div class="row">
                                        
                                        
                                            
                                                <!-- column 6/12 -->
                                                <div class="col-sm-6">
                                                    <h2 class="section-title">Client</h2>
                                                    <p>Warner Bros</p>
                                                </div>
                                                <!-- column 6/12 -->
                                                <!-- column 6/12 -->
                                                <div class="col-sm-6">
                                                    <h2 class="section-title">Date</h2>
                                                    <p><a class="button" target="_blank" href="http://themes.pixelwars.org/?theme=read-wp">Launch Project</a></p>
                                                </div>
                                                <!-- column 6/12 -->
                                            </div>
                                            <!-- row -->	
                                            
                                            
                                            
                                            
                                            <iframe src="http://player.vimeo.com/video/92040599?title=0&amp;byline=0&amp;portrait=0&amp;color=000000" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                            
                                          <!-- row -->
                                          <div class="row">
                                        
                                        
                                            
                                                <!-- column 6/12 -->
                                                <div class="col-sm-6">
                                                    <h2 class="section-title">Client</h2>
                                                    <p>Warner Bros</p>
                                                </div>
                                                <!-- column 6/12 -->
                                                <!-- column 6/12 -->
                                                <div class="col-sm-6">
                                                    <h2 class="section-title">Date</h2>
                                                    <p><a class="button" target="_blank" href="http://themes.pixelwars.org/?theme=read-wp">Launch Project</a></p>
                                                </div>
                                                <!-- column 6/12 -->
                                            </div>
                                            <!-- row -->	
                                            
                                            
                                            
                                            
                                            <iframe src="http://player.vimeo.com/video/92040599?title=0&amp;byline=0&amp;portrait=0&amp;color=000000" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                            
                                                
                                        
                                   
                                        
                                    
                                    </div>
                                    <!-- .entry-content -->
                                    
                                    
                                    
                                    <!-- .nav-single -->
                                    <nav class="nav-single row">
                                    
                                        <div class="nav-previous col-xs-6">
                                            <h4>PREVIOUS</h4>
                                            <a href="gallery-single.html" rel="prev"><span class="meta-nav">←</span> Game Characters</a>
                                        </div>
                                        
                                        <div class="nav-next col-xs-6">
                                            <h4>NEXT</h4>
                                            <a href="gallery-single.html" rel="next">Retro Logos And Badges <span class="meta-nav">→</span></a>
                                        </div>
                                        
                                    </nav>
                                    <!-- .nav-single --> 
                                 
                                    
                                
                                </article>
                                <!-- .hentry -->
                            
                            
                            
                            </div>
                            <!-- .gallery-single -->
                            
                            
                            
                            
                            
                            <!-- InstanceEndEditable -->
                            
                            
                            
                        </div>
                        <!-- layout-medium -->
                        
                        
                        
                        
                    
                        
                        
                    
                    </div>
                    <!-- site-content -->
                    
                </div>
                <!-- primary --> 
                
                
                
                   
            
            
            
            
            </div>
            <!-- site-main -->
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>

