<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >

<header>
    <% include ../partials/header %>
</header>

<main>

          <!-- site-main -->
          <div id="main" class="site-main">
        
           <!-- primary -->
                <div id="primary" class="content-area">
                    
                    <!-- site-content -->
                    <div id="content" class="site-content" role="main">
                    
                 
                        <!-- layout-full -->
                        <div class="layout-full">
                           
                            <!-- .media-grid-wrap -->
                            <div class="media-grid-wrap"> 
                                
                                <!-- GALLERY -->
                                <div class="gallery-grid"> 
                                    
                                    
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="images/album/01.jpg" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Logo</h2>
                                                <p>Lily likes to play with crayons and pencils</p>
                                                <a href="/graphics/logos"></a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item -->  
                                    
                                    
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="images/album/03.jpg" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Flyers</h2>
                                                <p>Lily likes to play with crayons and pencils</p>
                                                <a href="/graphics/flyers">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item --> 
                                    
                                    
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="images/album/02.jpg" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Business Cards</h2>
                                                <p>Lily likes to play with crayons and pencils</p>
                                                <a href="/graphics/business-cards">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item --> 
                                    
                                    
                                  
                                    
                                    
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="images/album/05.jpg" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Prints</h2>
                                                <p>Lily likes to play with crayons and pencils</p>
                                                <a href="/graphics/prints">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item --> 
                                    
                                     
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="images/album/05.jpg" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>ADS</h2>
                                                <p>Lily likes to play with crayons and pencils</p>
                                                <a href="/graphics/ads">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item --> 
                                     
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="images/album/05.jpg" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Other</h2>
                                                <p>Lily likes to play with crayons and pencils</p>
                                                <a href="/graphics/other">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item --> 
                                  
                                    
                                </div>
                                <!-- GALLERY --> 
                                
                            </div>
                            <!-- .media-grid-wrap --> 
                            
                            
                            
                        
                        
                        <!-- InstanceEndEditable -->
                            
                            
                            
                        </div>
                        <!-- layout-full -->
                        
                        
                        
                    
                        
                        
                    
                    </div>
                    <!-- site-content -->
                    
                </div>
                <!-- primary --> 
                
                
                
                   
            
            
            
            
            </div>
            <!-- site-main -->
            
  
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>