<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="">

<header>
    <% include ../partials/header %>
</header>

<main>
    <!-- page -->
    <div id="page" class="hfeed site">
     
        
        
        
        
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	     
                 
                 
                        
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                	
                
                	
                    
                    
                    <!-- InstanceBeginEditable name="FeaturedContent" -->
					
					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-full -->
                	<div class="layout-full">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutFullContent" -->
                        
                        
                        
                        <!-- .home-wrap -->
                        <div class="home-wrap">
                            
                            <!--grid-->
                            <div class="ri-grid" data-animation="random" data-interval="1600" data-max-step="3">
                                <ul>
                                    <li><a href="#"><img src="images/home-grid/29.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/45.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/43.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/44.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/24.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/46.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/8.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares24.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares5.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares6.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares7.jpg" alt="image"/></a></li>
                                    
                                    <li><a href="#"><img src="images/home-grid/squares9.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares10.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares12.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares13.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares29.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares14.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares26.jpg" alt="image"/></a></li>

                                    <li><a href="#"><img src="images/home-grid/squares15.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares16.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares18.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares19.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares20.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares21.jpg" alt="image"/></a></li>
                                     <li><a href="#"><img src="images/home-grid/squares27.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares22.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares23.jpg" alt="image"/></a></li>
                                    
                                    <li><a href="#"><img src="images/home-grid/squares25.jpg" alt="image"/></a></li>
                                   
                                    <li><a href="#"><img src="images/home-grid/squares28.jpg" alt="image"/></a></li>
                                    
                                    <li><a href="#"><img src="images/home-grid/squares30.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares31.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares32.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares33.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares34.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares36.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares37.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares38.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares39.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares40.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares41.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/squares42.jpg" alt="image"/></a></li>

                                </ul>
                            </div>
							<!--grid-->
                        
                        	
                            <!-- intro -->
                            <div class="intro">
    
                                <h2>	
                                    
                                    <br>
                                    We are
    
                                    <span class="rotate-words" data-interval="3000">
                                        <span>corporate.</span>
                                        <span>creative.</span>
                                        <span>proffesional.</span>
                                        <span>people persons.</span>
                                        <span>influential.</span>
                                        <span>modern.</span>
                                        <span>artistic.</span>
                                        <span>digital.</span>
                                        <span>talented.</span>
                                        <span>the BEST.</span>
                                    </span>
    
                                </h2>
    
                            </div>
                            <!-- intro -->
                            
                        </div>
                        <!-- .home-wrap -->
                        <h2 class="section-title center">Our Services</h2>
                        <div class="container">
                              <div class="row">
                                <div class="col-lg-3"> 
                                    <div class="text-center center-block">
                                        <img src="https://img.icons8.com/ios/64/000000/google-images.png"  style="margin: 0 auto; display:block;">
                                        <h4 class="text-center" style="text-align: center;"> Photography </h4>
                                    </div>
                                   
                                    <p>
                                         Photography is a way to freeze time and capture moments worth having.  As world class photographers, our aim is to capture these moments and provide you with high resolution photos for all your corporate, event and product needs.
                                    </p>
                                </div>
                                <div class="col-lg-3"> 
                                    <img src="https://img.icons8.com/ios/64/000000/camcorder-pro.png" style="margin: 0 auto; display:block;"> 
                                     <h4  style="text-align: center;">  Videography </h4>
                                     <p>
                                        Lights, Camera, Action! Our videography services are geared towards increased engagement and high quality video content. We cater to all your video production needs and strive to provide you with worthwhile coverage.
                                </div>
                                <div class="col-lg-3">
                                    <img src="https://img.icons8.com/ios/64/000000/design.png" style="margin: 0 auto; display:block;">
                                    <h4  style="text-align: center;"> Graphic Design </h4>
                                     <p>
                                         When our creative juices start running you will be amazed at what we can do for your brand. We have top graphic designers who will work with you to ensure your branding and marketing is everything. Good design is obvious, great design is transparent.
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <img src="https://img.icons8.com/ios/64/000000/web-design.png" style="margin: 0 auto; display:block;">
                                    <h4  style="text-align: center;"> Web Design </h4>
                                     <p>
                                         We specialize in designing websites that will draw people to it. To us, web design is so much more than how it looks on a screen. Our priority is the user and their experience, once the user is satisified they will always come back.
                                    </p>
                                </div>
                            </div>
                        
                	    </div>  
                          
                        <h2 class="section-title center">Some Of Our Clients</h2>
                        <div class="">  
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="/images/site/Clientlogo1.png" style="margin: 0 auto; display:block;">

                                    
                                </div>  
                                <div class="col-lg-3">

                                     <img src="/images/site/Clientlogo2.png" style="margin: 0 auto; display:block;">

                                </div>  
                                <div class="col-lg-3">

                                     <img src="/images/site/Clientlogo3.png" style="margin: 0 auto; display:block;">

                                </div>  
                                <div class="col-lg-3">

                                     <img src="/images/site/Clientlogo4.png" style="margin: 0 auto; display:block;">

                                </div>  
                                
                            </div>
                            <div class="row">
                                <div class="col-lg-3">

                                     <img src="/images/site/Clientlogo5.png" style="margin: 0 auto; display:block;">

                                </div>  
                                
                                 <div class="col-lg-3">

                                     <img src="/images/site/Clientlogo6.png" style="margin: 0 auto; display:block;">

                                </div>  
                                 <div class="col-lg-3">

                                     <img src="/images/site/Clientlogo7.png" style="margin: 0 auto; display:block;">

                                </div>  
                                <div class="col-lg-3">

                                     <img src="/images/site/Clientlogo8.png" style="margin: 0 auto; display:block;">

                                </div>  
                                
                                
                            </div>
                        
                        </div>
                
                    </div>
                    <!-- layout-full -->
                    
                    
                    
                
                	
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary --> 
            
            
            
               
        
        
        
        
        </div>
        <!-- site-main -->
        
        
    
        
	</div>
    <!-- page -->
    
    
  
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>