<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="">

<header>
    <% include ../partials/header %>
</header>

<main>
    <!-- page -->
    <div id="page" class="hfeed site">
     
        
        
        
        
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	     
                 
                 
                        
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                	
                
                	
                    
                    
                    <!-- InstanceBeginEditable name="FeaturedContent" -->
					
					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-full -->
                	<div class="layout-full">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutFullContent" -->
                        
                        
                        
                        <!-- .home-wrap -->
                        <div class="home-wrap">
                            
                            <!--grid-->
                            <div class="ri-grid" data-animation="random" data-interval="1600" data-max-step="3">
                                <ul>
                                    <li><a href="#"><img src="images/home-grid/1.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/2.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/3.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/4.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/5.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/6.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/7.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/8.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/9.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/10.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/11.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/12.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/13.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/14.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/15.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/16.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/17.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/18.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/19.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/20.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/21.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/22.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/23.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/24.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/25.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/26.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/27.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/28.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/29.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/30.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/31.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/32.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/33.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/34.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/35.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/36.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/37.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/38.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/39.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/40.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/41.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/42.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/43.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/44.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/45.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/46.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/47.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/48.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/49.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/50.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/51.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/52.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/53.jpg" alt="image"/></a></li>
                                    <li><a href="#"><img src="images/home-grid/54.jpg" alt="image"/></a></li>
                                </ul>
                            </div>
							<!--grid-->
                        
                        	
                            <!-- intro -->
                            <div class="intro">
    
                                <h2>	
                                    
                                    Hi. I am a photographer<br>
                                    I capture
    
                                    <span class="rotate-words" data-interval="3000">
                                        <span>life.</span>
                                        <span>moments.</span>
                                        <span>happiness.</span>
                                        <span>emotions.</span>
                                        <span>action.</span>
                                        <span>impression.</span>
                                        <span>beauty.</span>
                                    </span>
    
                                </h2>
    
                            </div>
                            <!-- intro -->
                            
                        </div>
                        <!-- .home-wrap -->
                        <h2 class="section-title center">Our Services</h2>

                        
                        <h2 class="section-title center">Our Clients</h2>

                        
                        <!-- InstanceEndEditable -->
                    	
                        
                    	
                    </div>
                    <!-- layout-full -->
                    
                    
                    
                
                	
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary --> 
            
            
            
               
        
        
        
        
        </div>
        <!-- site-main -->
        
        
    
        
	</div>
    <!-- page -->
    
    
  
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>