<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >

<header>
    <% include ../partials/header %>
</header>

<main>

          <!-- site-main -->
          <div id="main" class="site-main">
        
           <!-- primary -->
                <div id="primary" class="content-area">
                    
                    <!-- site-content -->
                    <div id="content" class="site-content" role="main">
                    
                 
                        <!-- layout-full -->
                        <div class="layout-full">
                           
                            <!-- .media-grid-wrap -->
                            <div class="media-grid-wrap"> 
                                
                                <!-- GALLERY -->
                                <div class="gallery-grid"> 
                                    
                                       
                                       
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                            <figure> 
                                                <img src="/images/home/homescreeen8.jpg" alt="gallery-post"/>
                                                <figcaption>
                                                    <h2>Corporate</h2>
                                                   <!-- <p>Lily likes to play with crayons and pencils</p>-->
                                                    <a href="/photography/corporate">View more</a>
                                                </figcaption>
                                            </figure>
                                    </div>
                                    <!-- gallery-item --> 

                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="/images/home/homescreen13.jpg" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Weddings & Engagements</h2>
                                                <a href="/photography/weddingsandengagements"></a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item -->  
                                    
                                    
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="/images/home/homescreen1.jpg" style="height: 315px;" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Portraits</h2>
                                                <a href="/photography/portraits">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item --> 
                                    
                                    
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="/images/home/homescreen8.jpg" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Events</h2>
                                                <a href="/photography/events">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item --> 
                                    
                                    
                                  
                                    
                                    
                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="/images/home/homescreen2.jpg" style="height: 315px;"  alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Promotional Shoots</h2>
                                                <a href="/photography/promotional">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item --> 

                                    <!-- gallery-item -->
                                    <div class="masonry-item">
                                        <figure> 
                                            <img src="/images/home/homescreen9.jpg" alt="gallery-post"/>
                                            <figcaption>
                                                <h2>Other</h2>
                                                <a href="/photography/other">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!-- gallery-item --> 
                                 
                                        
                                    
                                  
                                    
                                </div>
                                <!-- GALLERY --> 
                                
                            </div>
                            <!-- .media-grid-wrap --> 
                            
                            
                            
                        
                        
                        <!-- InstanceEndEditable -->
                            
                            
                            
                        </div>
                        <!-- layout-full -->
                        
                        
                        
                    
                        
                        
                    
                    </div>
                    <!-- site-content -->
                    
                </div>
                <!-- primary --> 
                
                
                
                   
            
            
            
            
            </div>
            <!-- site-main -->
            
  
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>