<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >

<header>
    <% include ../partials/header %>
</header>

<main>
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	     
                 
                 
                        
                <!-- primary -->
                <div id="primary" class="content-area">
                    
                    <!-- site-content -->
                    <div id="content" class="site-content" role="main">
                    
                    
                        
                    
                        
                        
                        
                        <!-- InstanceBeginEditable name="FeaturedContent" -->
                        
                        
                        <!-- InstanceEndEditable -->
                        
                        
                        
                        <!-- layout-full -->
                        <div class="layout-full">
                        
                        
                        
                            <!-- InstanceBeginEditable name="LayoutFullContent" -->
                            
                            
                            <!-- .gallery-single -->
                            <div class="gallery-single">
                            
                            
                                <!-- entry-header -->
                                <header class="entry-header">
                                    <h1 class="entry-title">Web Design</h1>
                                </header>
                                <!-- entry-header -->
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
                                    
</main>
<footer>
        <% include ../partials/footer %>
</footer>

</body>
</html>