
        
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <% include ../partials/head %>
      </head>
  
      <header>
          <% include ../partials/header %>
      </header>
      <main>
               
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	     
                 
                 
                        
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                	
                
                	
                    
                    
                    <!-- InstanceBeginEditable name="FeaturedContent" --> <!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-full -->
                	<div class="layout-full">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutFullContent" --> 
                    
                    
                    
                        <!-- entry-header -->
                        <!--<header class="entry-header">
                            <h1 class="entry-title">WORK</h1>
                        </header>-->
                        <!-- entry-header --> 
                        
                        
                        
                        <!-- .media-grid-wrap -->
                        <div class="media-grid-wrap"> 
                            
                            <!-- GALLERY -->
                            <div class="gallery-grid"> 
                                
                                
                                <!-- gallery-item -->
                                <div class="masonry-item post-password-required">
                                    <figure> 
                                        <img src="images/album/graphics.png" alt="gallery-post"/>
                                        <figcaption>
                                            <h2>Graphic Design</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                    		<a href="gallery-single.html"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->  
                                
                                
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure> 
                                        <img src="images/album/photography.png" alt="gallery-post"/>
                                        <figcaption>
                                            <h2>Photography</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single-mfp.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item --> 
                                
                                
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure> 
                                        <img src="images/album/04.png" alt="gallery-post"/>
                                        <figcaption>
                                            <h2>Cinematography</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item --> 
                                
                                
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure> 
                                        <img src="images/album/04.jpg" alt="gallery-post"/>
                                        <figcaption>
                                            <h2>FACES</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item --> 
                                
                                
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure> 
                                        <img src="images/album/05.jpg" alt="gallery-post"/>
                                        <figcaption>
                                            <h2>NATURE</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item --> 
                                
                                
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure> 
                                        <img src="images/album/06.jpg" alt="gallery-post"/>
                                        <figcaption>
                                            <h2>KIDS</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item --> 
                                
                                
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure>  
                                        <img src="images/album/07.jpg" alt="gallery-post"/>
                                        <figcaption>
                                            <h2>STREET</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item --> 
                                
                                
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure>  
                                        <img src="images/album/08.jpg" alt="gallery-post"/>
                                        <figcaption>
                                            <h2>MOTION</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single-video.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->
                                
                                
                            </div>
                            <!-- GALLERY --> 
                            
                        </div>
                        <!-- .media-grid-wrap --> 
                        
                        
                        
                    
                    
                    <!-- InstanceEndEditable -->
                    	
                        
                    	
                    </div>
                    <!-- layout-full -->
                    
                    
                    
                
                	
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary --> 
            
            
            
               
        
        
        
        
        </div>
        <!-- site-main -->
      </main>  
        
     
        
      
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>