<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>

<body >
 <!-- header -->
 <header id="masthead" class="site-header" role="banner">
                
                
        <!-- site-logo -->
        <div class="site-logo">
            
            
            <!-- logo : image -->
            <h1 class="site-title">
                <a href="index.html" rel="home">
                    <img src="/images/site/logo.png" alt="logo">
                </a>
            </h1>
            <!-- logo : image -->
            
            
            <!-- logo : text -->
            <!--<h1 class="site-title">
                <a href="../index.html" rel="home">
                    Photographer
                </a>
            </h1>
            <p class="site-description">a photography theme.</p> -->
            <!-- logo : text -->
            
            
        </div>
        <!-- site-logo -->
             
        
</header>   
            

<main>
    <div class="container" style="margin: 0 auto;">
            <form style="width: 300px; margin: 0 auto;" method="Post" action="/admin/signin" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter Username">
                    </br>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </br>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                    </div>
                </br>
                    <button type="submit" class="submit btn btn-primary pull-right">Submit</button>
                 </form>
    </div>
       
            
</main>



</body>
</html>